.wrapper{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content:flex-start;
}

.background{
  background-image: url("http://res.cloudinary.com/noah-s-kang/image/upload/v1501866773/background_w6komw.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0 0 0 0;
}

button{
  margin-top: 10px;
  width: 140px;
  height: 50px;
  color: white;
  background-color: rgb(208, 117, 23);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.09em;
}

.Title{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1%;
}

.body{
  position: relative;
  /*display: flex;*/
  /*flex-direction: row;*/
  margin-left: -330px;
  /*justify-content: flex-start;
  align-items: flex-start;*/
}

.directions{
  float: left;
  margin-right: 20px;
}

.game-window{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
  width: 768px;
  height: 600px;
}

canvas{
  position: absolute;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#fg-canvas{
  z-index: 10;
}

.game-over{
  opacity: 0;
}

.footer{
  height: 100px;
  padding: 50px 50px 50px 50px;
  color: black;
  font-size: 12px;
  text-align: center;
}

.footer h1{
  font-size: 8px;
}

.icons{
  display: flex;
  justify-content: center
}

.icon {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #47586a;
  border-radius: 100%;
  width: 50px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.5rem;
  height: 2.25em;
  line-height: 2.25em;
  text-align: center;
  width: 2.25em;
  margin: 30px 10px 0 10px;
}

.fa-linkedin {
  background-color: #8cd4e9;
}

.fa-linkedin:hover {
  background-color: #77cce5;
}

.fa-linkedin:active {
  background-color: #4cbcdd;
}

.fa-github {
  background-color: #e98ca4;
}

.fa-github:hover {
  background-color: #e57793;
}

.fa-github:active {
  background-color: #dd4c71;
}
